<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  
  <body class="bg-gray-100 p-8">

    <form action="/submit" method="POST" class="flex flex-col space-y-4 max-w-md mx-auto">
      <h1 class="text-3xl font-bold mb-6 ml-14">QR CODE GENERATOR </h1>
      <input type="text" name="link" placeholder="Put the link in here !" class="border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:border-blue-500">
      <input type="submit" value="Generate Link" class="bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-blue-600 transition duration-300">
    </form>
  </body>
  

</html>