<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
<body class="bg-gray-100 p-8">
    <h1 class="text-3xl font-bold mb-6 mx-auto max-w-xs ">Generated QR Code</h1>
    <img src="/<%= file %>" alt="QR Code" class="max-w-xs mx-auto rounded-lg shadow-md">

    <a href="/" class="block text-center bg-blue-500 text-white px-4 py-2 rounded-md mt-4 max-w-xs mx-auto hover:bg-blue-600 transition duration-300">
        Go Back
    </a>
</body>

</html>